<footer class="footer">
  <div class="footer__name-group">Miudiñas &copy; 2022</div>
  <nav class="footer__menu">
    <ul>
      <li>
        <a class="footer__menu--link" href="./index.html#equipo">EQUIPO</a>
      </li>
      <li>
        <a class="footer__menu--link" href="./index.html#somos">
          QUIÉNES SOMOS
        </a>
      </li>
      <li>
        <a class="footer__menu--link" href="./contact.html#contacto"
          >CONTACTO</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__logo">
    <img
      class="footer__logo--adalab"
      src="./assets/images/logo-adalab.png"
      alt="Logo Adalab"
    />
  </div>
</footer>
