<footer class="footer">
  <div class="footer_name-group">Miudiñas &copy; 2022</div>
  <nav class="footer_menu">
    <ul>
      <li>
        <a class="footer_menu_link" href="./index.html#equipo">EQUIPO</a>
      </li>
      <li>
        <a class="footer_menu_link" href="./index.html#somos">
          QUIÉNES SOMOS
        </a>
      </li>
      <li>
        <a class="footer_menu_link" href="./contact.html#contacto">CONTACTO</a>
      </li>
    </ul>
  </nav>
  <div class="footer_logo">
    <img
      class="footer_logo_adalab"
      src="./assets/images/logo-adalab.png"
      alt="Logo Adalab"
    />
  </div>
</footer>
