<!-- margin-top en mobile 105 y a partir de tablet 60 -->

<form action="./contact.html" method="get" class="container_form wrapper">
  <label for="name">nombre completo <span class="span">*</span> </label>
  <input type="text" id="name" placeholder="Nombre..." required />
  <label for="email">email <span class="span">*</span> </label>
  <input type="email" id="email" value="nombre.apellidos@mail.com" required />
  <label for="tel"> teléfono <span class="span">*</span> </label>
  <input type="tel" id="tel" placeholder="Ej: 123456789" required />
  <label for="message">mensaje:</label>
  <textarea id="message" name="message" rows="8" cols="50"></textarea>
  <input type="submit" value="enviar" />
</form>
