<header class="header">
  <div class="header__wrapper">
    <h1 class="header__title">MIUDIÑAS</h1>

    <nav>
      <ul class="header__menu">
        <li>
          <a class="header__menu--link" href="./index.html#equipo">EQUIPO</a>
        </li>
        <li>
          <a class="header__menu--link" href="./index.html#somos"
            >QUIENES SOMOS</a
          >
        </li>
        <li>
          <a class="header__menu--link" href="./contact.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
