<header class="header">
  <div class="header__wrapper">
    <h1 class="header__title">Miudiñas</h1>

    <nav>
      <ul class="header__menu">
        <li>
          <a class="header__menu--link" href="./index.html#equipo">Equipo</a>
        </li>
        <li>
          <a class="header__menu--link" href="./index.html#somos"
            >Quienes somos</a
          >
        </li>
        <li>
          <a class="header__menu--link link-contact" href="./contact.html"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
