<header class="header">
  <div class="header__top">
    <div class="wrapper">
      <h1 class="header__top--title">MIUDIÑAS</h1>
    </div>
  </div>
  <div class="header__bottom">
    <div class="wrapper">
      <nav>
        <ul class="header__bottom--menu">
          <li>
            <a class="menu__link" href="./index.html#equipo">EQUIPO</a>
          </li>
          <li>
            <a class="menu__link" href="./index.html#somos">QUIENES SOMOS</a>
          </li>
          <li>
            <a class="menu__link" href="./contact.html">CONTACTO</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
