<article class="box_team">
  <div class="wrapper">
    <h2 class="title_team">EQUIPO</h2>
    <p class="text_team">
      Repartidas entre el norte y el centro de la Península, las Miudiñas
      compartimos el espíritu gallego, de ahí nuestro nombre. Somos
      emprendedoras, valientes y suficientemente cabezotas como para pelearnos
      con las propiedades de un elemento hasta que este actúe a nuestro antojo.
    </p>
    <p class="text_team">
      Nuestro objetivo principal es adquirir las competencias necesarias para
      convertirnos en programadoras profesionales, pero además queremos
      disfrutar del camino. Por eso hemos creado un entorno de trabajo en el que
      el respeto y el apoyo grupal es primordial.
    </p>
  </div>
</article>
