<article class="strenghths__weaknesses wrapper">
  <article class="strenghths_weaknesses_article">
    <h2 class="strenghths__weaknesses--title">Fortalezas</h2>
    <p class="strenghths__weaknesses--content">
      Si algo caracteriza al equipo de las Miudiñas es nuestra capacidad de
      trabajo en equipo. Todas tenemos opiniones formadas, pero sabemos
      escucharnos, razonar y ceder. Empatizamos con nuestras compañeras y juntas
      tomamos decisiones.
    </p>
  </article>
  <article class="strenghths__weaknesses--article">
    <h2 class="strenghths__weaknesses--title">Debilidades</h2>

    <p class="strenghths__weaknesses--content">
      Nuestra debilidad es que a veces la autoexigencia agota nuestras fuerzas.
      Nos cuesta dejar las cosas antes de ponerle un punto final. Esto a veces
      hace que se nos olvide que fuera hace una tarde maravillosa para dar un
      paseo.
    </p>
  </article>
</article>
