<article class="about_us__list--student">
  <img
    class="about_us__list--student--photo"
    src="@@profile_image"
    alt="Foto de @@name"
  />
  <div class="container__student">
    <h3 class="container__student--name">@@name</h3>
    <p class="container__student--description">@@description</p>
    <div class="container__student--logos">
      <a class="container__student--redes" href="@@twitter" target="_blank">
        <i class="fa-brands fa-twitter"></i> </a
      >·
      <a class="container__student--redes" href="@@linkedin" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i> </a
      >·
      <a class="container__student--redes" href="@@github" target="_blank">
        <i class="fa-brands fa-github-alt"></i
      ></a>
      ·
      <a class="container__student--redes" href="mailto:@@email" target="_blank"
        ><i class="fa-solid fa-envelope"></i
      ></a>
    </div>
  </div>
</article>
