<article class="student">
    <img
      class="photo_student"
      src="@@profile_image"
      alt="Foto de @@name"
    />
    <h3 class="name_student">@@name</h3>
    <p class="description_student">
    @@description
    </p>
    <div class="box_logos">
      <a
        class="redes"
        href="@@twitter"
        target="_blank"
      >
        <i class="fa-brands fa-twitter"></i> </a
      >·
      <a
        class="redes"
        href="@@linkedin"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin-in"></i> </a
      >·
      <a
        class="redes"
        href="@@github"
        target="_blank"
      >
        <i class="fa-brands fa-github-alt"></i
      ></a>
      ·
      <a class="redes" href="@@email" target="_blank"
        ><i class="fa-solid fa-envelope"></i
      ></a>
    </div>
  </article>