<article class="stren_weak__container">
  <div class="stren_weak wrapper">
    <article class="stren_weak__article">
      <h2 class="stren_weak__article--title">fortalezas</h2>
      <p class="stren_weak__article--content">
        Si algo caracteriza al equipo de las Miudiñas es nuestra capacidad de
        trabajo en equipo. Todas tenemos opiniones formadas, pero sabemos
        escucharnos, razonar y ceder. Empatizamos con nuestras compañeras y
        juntas tomamos decisiones.
      </p>
    </article>
    <article class="stren_weak__article">
      <h2 class="stren_weak__article--title">debilidades</h2>

      <p class="stren_weak__article--content">
        Nuestra debilidad es que a veces la autoexigencia agota nuestras
        fuerzas. Nos cuesta dejar las cosas antes de ponerle un punto final.
        Esto a veces hace que se nos olvide que fuera hace una tarde maravillosa
        para dar un paseo.
      </p>
    </article>
  </div>
</article>
