body {
  font-family: $font-main;
  height: 100vh;
  color: $text-color;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.team__text--small {
  font-size: 12px;
  color: $text-color;
  padding-top: 30px;
}
.span {
  color: $secondary-color;
}
.image-2 {
  width: 100%;
  height: 421px;
  background: url("https://2.bp.blogspot.com/-kOs9MD137Ww/XLwuPJWchiI/AAAAAAAAF9g/1obWagWpZfw6b2fBIvJL6Ea9whWV4cE1gCLcBGAs/s1600/IMG_5923.JPG")
    center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  @include tablet {
    height: 361px;
  }
  @include desktop {
    background: url("https://2.bp.blogspot.com/-kOs9MD137Ww/XLwuPJWchiI/AAAAAAAAF9g/1obWagWpZfw6b2fBIvJL6Ea9whWV4cE1gCLcBGAs/s1600/IMG_5923.JPG")
      center -250px no-repeat;
    background-size: cover;
  }
}

.container_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  font-size: 14px;
  font-family: $font-main;
  padding: 60px 0px;
}
.container_form__email_tel {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  @include desktop {
    gap: 40px;
    display: flex;
    flex-direction: row;
  }
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__email {
    @include desktop {
      align-items: flex-start;
      // width: 160%;
    }
  }
  &__button {
    align-items: center;
    @include tablet {
      align-items: flex-end;
    }
  }
}

.box {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-top: 5px;
  padding: 0 15px;
  border: 1px solid $tertiary-color;
  color: $text-color;
  &__area {
    padding: 11px 15px;
    font-family: $font-main;
    height: 105px;
  }
}

.buttom {
  height: 45px;
  width: 290px;
  background-color: $primary-color;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-family: $font-main;
  text-transform: uppercase;
  border: 0px;
  align-content: center;
  transition: color ease 1s;
  opacity: 3;

  @include tablet {
    width: 206px;
  }
  @include tablet {
    width: 278px;
  }

  &:hover {
    opacity: 1;
    transform: translate(0, -4px);
    cursor: pointer;
  }
}
