.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: $primary-color;
  width: 100%;
  position: fixed;
  top: 0;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 1;
  /* box-sizing: border-box; */
  /* header__wrapper */
  &__wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
    @include desktop {
      margin: 0 auto;
      max-width: 1260px;
    }
  }
  /* header__title */
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    @include tablet {
      justify-content: flex-start;
    }
  }
  /* header__menu */
  &__menu {
    height: 45px;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      height: 60px;
      background-color: $primary-color;
    }
    /* header__menu--link */
    &--link {
      display: block;
      text-align: center;
      text-decoration: none;
      font-family: "Rubik", sans-serif;
      font-size: 15px;
      color: #fff;
      box-sizing: border-box;
      padding: 15px;
      @include tablet {
        padding: 15px 0 15px 30px;
      }
    }
  }
}
