.image {
  @include tablet {
    height: 361px;
    overflow: hidden;
  }

  &__picture {
    width: 100%;
    /* background-size: contain; */
    @include tablet {
      transform: translate(0, -130px);
    }
  }
}

.slogan {
  position: static;
  background-color: $background-body_color;
  text-align: center;
  &__text {
    text-transform: uppercase;
    width: 100%;
    height: fit-content;
    position: absolute;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.39;
    color: $text-color-title;

    @include tablet {
      opacity: 0.8;
      width: 27.563em;
      transform: translateY(-100%);
    }
  }
}

.team {
  margin-bottom: 30px;
  text-align: center;
  @include tablet {
    margin-bottom: 60px;
  }
  &__title {
    text-transform: uppercase;
    padding-top: 30px;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    line-height: 1.88;
    color: $secondary-color;
    @include tablet {
      padding-top: 45px;
      color: $primary-color;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
    color: $text-color;
    gap: 12px;
  }
}
