.about_us {
  width: 100%;
  background-color: $background-body_color;
  padding-bottom: 60px;

  &__title {
    margin: 30px 0;
    font-family: "Rubik";
    font-size: 24px;
    text-align: center;
    color: $primary-color;
    text-transform: uppercase;
  }
  &__list {
    @include tablet() {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    &--student {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet() {
        gap: 30px;
        align-items: flex-start;
        &:nth-child(odd) {
          flex-direction: row;

          .container__student {
            text-align: left;
          }
        }
        &:nth-child(even) {
          flex-direction: row-reverse;

          .container__student {
            text-align: right;
          }
        }
      }
      @include desktop() {
        gap: 45px;
      }

      &--photo {
        width: 180px;
        height: 180px;
        margin: 30px 55px;
        border-radius: 4px;
        border: solid 5px $border-image;
        @include tablet() {
          margin: 0;
          width: 278px;
          height: 278px;
        }
      }
    }
  }
}

.container__student {
  text-align: center;
  max-width: 440px;
  &--name {
    font-size: 20px;
    line-height: 2.25;
    color: $text-color-title;
  }
  &--description {
    margin: 20px 0 2px;
    font-size: 16px;
    line-height: 1.5;
    color: $text-color;
    @include tablet() {
      margin: 0;
    }
  }
  &--logos {
    height: 30px;
    font-size: 16px;
    list-style: none;
    line-height: 1.88;

    @include tablet() {
      margin: 0;
    }
  }
  &--redes {
    text-decoration: none;
    color: $primary-color;
  }
}
.links {
  animation-name: bounce;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &:hover {
    transform: scale(1.2);
  }

  //   &:nth-child(even) {
  //     @keyframes bounce {
  //       0% {
  //         transform: translate(0, -2px);
  //       }
  //       50% {
  //         transform: translate(0, 8px);
  //       }
  //       100% {
  //         transform: translate(0, -2px);
  //       }
  //     }
  //   }
  // }

  // @keyframes bounce {
  //   0% {
  //     transform: translate(0, -5px);
  //   }
  //   50% {
  //     transform: translate(0, 10px);
  //   }
  //   100% {
  //     transform: translate(0, -5px);
  //   }
}
