.about_us {
  width: 100%;
  background-color: $backgroun-body_color;
}

.title_about_us {
  margin-top: 30px;
  font-family: "Rubik";
  font-size: 24px;
  text-align: center;
  color: $primary-color;
}
.student {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet() {
    // flex-direction: row;
    // align-items: flex-start;
    &:nth-child(even) {
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
    }
    &:nth-child(odd) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.photo_student {
  width: 180px;
  height: 180px;
  margin: 30px 55px;
  border-radius: 4px;
  border: solid 5px $border-image;
  @include tablet() {
    margin: 30px 29px;
  }
  @include desktop() {
    margin: 30px 45px;
  }
}

.container_text {
  @include tablet() {
    padding-top: 20px;
  }
}
.name_student {
  font-size: 20px;
  padding-top: 22px;
  line-height: 2.25;
  text-align: center;
  color: $text-color-title;
  @include tablet() {
    text-align: start;
  }
}

.description_student {
  margin: 20px 0 2px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $text-color;
  @include tablet() {
    text-align: start;
    margin: 0;
    width: 442px;
  }
  @include desktop() {
    width: 439px;
  }
}

.box_logos {
  width: 124px;
  height: 30px;
  margin: 15px 120px;
  font-size: 16px;
  list-style: none;
  line-height: 1.88;
  text-align: center;
  @include tablet() {
    margin: 0;
  }
}
.redes {
  text-decoration: none;
  color: $primary-color;
}
