.strenghths__weaknesses {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  position: relative;

  &:before {
    content: " ";
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -15px;
  }
  &--title {
    color: $primary-color;
    font-size: 1.375em;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 2.813em;
    padding-top: 30px;
  }

  &--content {
    color: $text-color;
    font-size: 1em;
    line-height: 1.5em;
  }
  @include tablet() {
    flex-direction: row;
    &--content {
      padding: 0 10px 60px 30px;
    }
  }
  @include desktop() {
    flex-direction: row;
    &--content {
      padding: 0 10px 60px 30px;
    }
  }
}
