/* .wwrapper {
  padding: 0 15px;
  margin: 0 auto;

  @include tablet {
    padding: 0 30px;
  }
  @include desktop {
    // padding + desktop min-width
    max-width: 1260px;
  }
} */

.stren_weak__container {
  background-color: $backgroun-section_color;
}

.stren_weak {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  position: relative;
  padding-bottom: 45px;

  &:before {
    content: " ";
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -15px;
  }

  @include tablet() {
    flex-direction: row;
    gap: 30px;
  }

  @include desktop() {
    gap: 45px;
  }

  &__article {
    flex: 1;

    &--title {
      color: $primary-color;
      font-size: 1.375em;
      font-weight: 600;
      text-transform: capitalize;
      line-height: 2.813em;
      padding-top: 30px;
    }

    &--content {
      color: $text-color;
      font-size: 1em;
      line-height: 1.5em;
    }
  }
}
