@import "core/variables";
@import "core/reset";
@import "core/mixins";
@import "./core/wrapper";
@import "layout/header";
@import "layout/main-team";
@import "layout/main-strength_weak";
@import "layout/main-about_us";
@import "layout/footer";
@import "layout/contact";
:root {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
}

#equipo,
#somos {
  scroll-margin-top: 105px;
  @include tablet {
    scroll-margin-top: 60px;
  }
}
