:root {
  /* Colores de letras  */
  --blue-green: #099d8d;
  --aqua: #14d9c4;
  --black: #000000;
  --color-letters: #54585a;
  --cool-grey: #b8b8b9;
  /* Familia fuente */
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}

.article_2 {
  background-color: var(--cool-grey);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.article_2_h2 {
  color: var(--aqua);
}
.article_2_p {
  color: var(--color-letters);
}
.rectangle-4 {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #fff;
}
